<h3>Search for Bus Stop</h3>

<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label">Bus Stop Code</label>
    <input
      type="text"
      (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
      class="form-control"
      placeholder="10339"
      formControlName="stopCode"
    />
    <label class="form-label">Bus Stop Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="Toa Payoh"
      formControlName="stopName"
      (input)="liveSearchBusStop($event.target.value)"
    />
    <div class="container absolute-pos">
      <div class="live-search" *ngIf="stopNameSearch$ | async as busStops">
        <ul class="" *ngIf="busStops.length >= 2">
          <li
            class="live-search-result"
            *ngFor="let busStop of busStops"
            (click)="QuickSearch(busStop)"
          >
            <a class="card-title">{{ busStop.Description }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="
        !(searchForm.get('stopName').valid || searchForm.get('stopCode').valid)
      "
    >
      Search
    </button>

    <button class="btn btn-warning" type="button" (click)="onGetLocation()">
      Search By Location
    </button>
  </div>
</form>
