<div class="jumbotron jumbotron-fluid" *ngIf="!isEmptyObject(busStopDetail)">
  <div class="row">
    <div class="col">
      <h1 class="display-4">{{ busStopDetail["Description"] }}</h1>
      <h1 class="display-6">{{ busStopDetail["BusStopCode"] }}</h1>
      <p class="lead">
        Road Name: {{ busStopDetail["RoadName"] }}
        <br />
        Latitude: {{ busStopDetail["Latitude"] | number: ".6" }}
        <br />
        Longitude: {{ busStopDetail["Longitude"] | number: ".6" }}
      </p>
      <a class="btn btn-primary" [routerLink]="['/']" role="button"
        >Return to HomePage</a
      >
    </div>
    <div class="col">
      <div class="d-flex justify-content-end">
        <iframe
          [src]="googleUrl | sanitizeUrl"
          alt=""
          width="250"
          height="250"
          class="rounded float-right"
        ></iframe>
      </div>
    </div>
  </div>
</div>
<br />
<app-bus-arrival *ngIf="!isEmptyObject(busStopDetail)"></app-bus-arrival>

<div class="" *ngIf="isEmptyObject(busStopDetail)">
  <h3>Bus Stop {{ stopCode }} Does Not Exists</h3>
  <button class="btn btn-primary" [routerLink]="['/']">Return</button>
</div>
